@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --columns: 2;
}

html {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
}

header {
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    margin: 2rem 0rem;
}

main {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    place-items: center;
    gap: 3rem;
}

footer {
    margin-top: 5rem;
    text-align: center;
    padding: 1rem;
    color: #A9A9A9;
}

p {
    font-size: clamp(1rem, 3vw, 1.5rem);;
    line-height: 1.2;
}

h1 {
    font-size: clamp(2rem, 4vw + 1rem, 4rem);
    max-width: 18ch;
    line-height: 1.2;
}

.gap-2 {
    gap: 2rem;
}

.grid {
    display: grid;
}

.sub-title {
    max-width: 25rem;
    color: #4F4F4F;
}

.scare-crow {
    min-width: 10rem;
    max-width: min(100% - 2rem, 25rem);
    margin-inline: auto;
}

button {
    min-width: 10rem;
    max-width: 15rem;
    border: none;
    background-color: #333333;
    color: white;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
    cursor: pointer;
}

button:hover {
    background-color: #4F4F4F;
}

.container {
    display: grid;
    width: min(100% - 2em, 70rem);
    margin-inline: auto;
    min-height: 100vh;
    align-content: space-between;
}

@media only screen and (max-width: 60rem) {
    :root {
        --columns: 1;
    }
}




